
            <!-- begin::Table -->
            <table
                    class="table table-row-bordered table-row-gray-100 align-middle gs-0 gy-3"
            >
                <!-- begin::Table head -->
                <thead>
                <tr class="fw-bolder text-muted">
                    <th class="min-w-140px" *ngFor="let key of ColData">
                        {{key.header}}
                    </th>
                    <!-- <th class="min-w-140px">Név</th>
                    <th class="min-w-140px">Település</th>
                    <th class="min-w-140px">Email</th>
                    <th class="min-w-100px text-end">Műveletek</th> -->
                </tr>
                </thead>
                <!-- end::Table head -->
                <!-- begin::Table body -->
                <tbody>
                <tr *ngFor="let row of rowData ">
                    <!-- <td>
                        <a [routerLink]="['/offices/detail/'+office.id]" class="text-dark fw-bolder text-hover-primary fs-6">
                            {{ office.name }}
                        </a>
                    </td> -->
                    <td *ngFor="let key of ColData | searchFilter: searchTerm | slice: (page-1) * PAGE_SIZE : page * PAGE_SIZE">
                        <span class="text-dark fw-bolder fs-6">
                            {{ row[key.field]}}
                        </span>
                    </td>
                    <!-- <td>
                        <span class="text-dark fw-bolder fs-6">
                            {{ office.defaultSalesUserId }}
                        </span>
                    </td>
                    <td>
                        <span class="text-dark fw-bolder fs-6">
                            {{ office.defaultProjectManagerUserId }}
                        </span>
                    </td> -->
                    <td class="text-end">
                        <button
                        (click)="edit(row)"
                                class="
                btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                me-1
              "
                        >
              <span [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'"
              class="svg-icon svg-icon-3"

              ></span>
                    </button>
                        <a (click)="delete(row)"
                        class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
              <span
                      [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'"
                      class="svg-icon svg-icon-3"
              ></span>
                    </a>
                    </td>
                </tr>
                </tbody>
                <!-- end::Table body-->
</table>